# Python introduction

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Standard input / output streams

In [ ]:
print("Hello to the standard output")

user_input = input()

print("User entered: ", user_input)

user_input = input("Here you can give a prompt to a user: ")

print("Second user input: ", user_input)

Hello to the standard output
hello
User entered:  hello
Here you can give a prompt to an user: some input
Second user input:  some input

### Dynamic typing

Python is dynamically typed language.

In case you don't know what it means, check [here](https://realpython.com/lessons/dynamic-vs-static/), [here](https://towardsdatascience.com/dynamic-typing-in-python-307f7c22b24e), or [here](https://www.educative.io/answers/is-python-a-dynamically-typed-language)

In [ ]:
# statically typed and dynamically typed

# statically typed: C++
# variable: integer, float, string, ....
# int32 variable = 12
# .....
# variable = "string", 1.0 # you cannot do this
# variable = 13


# IT'S A BAD PATTERN

# dynamically typed: python, js
# variable = 12
# .......
# variable = "string"
# .......
# variable = 12.0
# .......
# variable = CustomClass()

## Builtins

We can find out object's type using builtin `type` function

In [ ]:
int_var = 1
float_var = 1.
string_var = "msai"
list_var = [1, 2, 3]  # list (or dynamic array)
tuple_var = (1, 2, 3)  # tuple
dict_var = {"1": 1, "2": 2, "3": 3}  # dictionary
none_var = None
bool_var = True

print(f'int type {type(int_var)}')
print(f'float type {type(float_var)}')
print(f'string type {type(string_var)}')
print(f'list type {type(list_var)}')
print(f'tuple type {type(tuple_var)}')
print(f'dictionary type {type(dict_var)}')
print(f'None type {type(none_var)}')
print(f'boolean type {type(bool_var)}')

int type <class 'int'>
float type <class 'float'>
string type <class 'str'>
list type <class 'list'>
tuple type <class 'tuple'>
dictionary type <class 'dict'>
None type <class 'NoneType'>
boolean type <class 'bool'>

In [ ]:
# a = [1,2,3]
# # ....
# a = {"123": 123}  # if there're no more variables pointing
#                   # to [1,2,3] it'll be deleted by gc

`isnstance` returns `False` if object is not an object of the given type.

In [ ]:
print(isinstance(1., float))
print(isinstance(1, int))

# Is object is instance of any given type from (int, float)
print(isinstance(1, (int, float)))

True
True
True

## id

Return the `identity` of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime. Two objects with non-overlapping lifetimes may have the same `id()` value.

`CPython` implementation detail: This is the `address` of the object in memory.

In [ ]:
a = 123

print(id(a))

134239320068144

In [ ]:
a = [1,2,3,4]

print(id(a))

134238049210944

In [ ]:
none_var = None
int_var = 1

print(f'Identity of None: {id(none_var)}')
print(f'Identity of integer "1": {id(int_var)}')

Identity of None: 98503481983968
Identity of integer "1": 134239320064240

## None
`None` object is `immutable` `singletone` object.

Represents an absence of a value

In [ ]:
a = None
b = None

print(id(a))
print(id(b))

98503481983968
98503481983968

In [ ]:
none_var = None
another_none_var = None

print(f'none_var is another_none_var: {none_var is another_none_var}')
print(f"{id(none_var) == id(another_none_var)}")

none_var is another_none_var: True
True

## Numeric

* integers
* floating point numbers
* complex numbers

The division operator `/` for integers gives a floating-point real number (an object of type float).
The exponentiation `**` also returns a float when the power is negative.

If `number < 0` and `power < 1` - `**` return complex number.

In [ ]:
print(type((-1) ** 0.5))

<class 'complex'>

In [ ]:
int_var = 10
float_var = 10.
complex_var = 10. + 10.j


# sum
print('sum:')
print(f'int sum: {int_var + 10}')
print(f'int sum with cast to float: {int_var + 10.30}')
print(f'float sum: {float_var + 10.30}')
print(f'float sum with cast to complex: {float_var + complex_var}')

# quotient
print('\nquotient:')
print(f'int quotient: {int_var / 10}')
print(f'float quotient: {float_var / 10.}')
print(f'complex quotient: {complex_var / 10.}')

# floored quotient
print('\nfloored quotient:')
print(f'int floored quotient: {int_var // 10}')
print(f'float floored quotient: {float_var // 10.}')

# remainder
print('\nremainder:')
print(f'int remainder: {int_var % 7}')
print(f'int remainder with cast to float: {int_var % 7.}')
print(f'float remainder: {float_var % 7}')

# power
print('\npower:')
print(f'int in power of int: {int_var ** 2}')
print(f'int in power of negative int: {int_var ** -2}')
print(f'int in power of negative int and power less than 1: {(-int_var) ** 0.5}')

# absolute value
print('\nabsolute value:')
print(f'int absolute value: {abs(int_var)}: {abs(-int_var)}')
print(f'float absolute value: {abs(float_var)}: {abs(-float_var)}')
print(f'complex absolute value: {abs(complex_var)}')

sum:
int sum: 20
int sum with cast to float: 20.3
float sum: 20.3
float sum with cast to complex: (20+10j)

quotient:
int quotient: 1.0
float quotient: 1.0
complex quotient: (1+1j)

floored quotient:
int floored quotient: 1
float floored quotient: 1.0

remainder:
int remainder: 3
int remainder with cast to float: 3.0
float remainder: 3.0

power:
int in power of int: 100
int in power of negative int: 0.01
int in power of negative int and power less than 1: (1.9363366072701937e-16+3.1622776601683795j)

absolute value:
int absolute value: 10: 10
float absolute value: 10.0: 10.0
complex absolute value: 14.142135623730951

## Boolean
Booleans in Python are represented by two `singletones` - `True` and `False`

In [ ]:
true_var = True
false_var = False

print(f'True type {type(true_var)}')
print(f'False type {type(true_var)}')

# Some expressions could be boolean
a = 20
b = 21

print(f'a > b expression: {a > b}')

# Objects can be casted to booleans
print(f'Empty list -> bool: {bool([])}')

True type <class 'bool'>
False type <class 'bool'>
a > b expression: False
Empty list -> bool: False

`bool` is a subclass of `int`, so `True` is an instance of `int`.

Originally, Python had no `bool` type, and things that returned truth values returned `1` or `0`.

When they added `bool`, `True` and `False` had to be drop-in replacements for `1` and `0` as much as possible for backward compatibility, hence the subclassing.

In [ ]:
print(f'True is instance of type int: {isinstance(True, int)}')

# If you want to catch such things, first you need to check if object is boolean
obj = 1

if isinstance(obj, bool):
    print(f'Object {obj}: boolean')
elif isinstance(obj, int):
    print(f'Object {obj}: int')

obj = False

if isinstance(obj, bool):
    print(f'Object {obj}: boolean')
elif isinstance(obj, int):
    print(f'Object {obj}: int')

True is instance of type int: True
Object 1: int
Object False: boolean

In [ ]:
# boolean arithmetics

a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

Boolean arithmetics is "lazy":
- if you have `or` and your lhs is `True` -> you do not need to calculate rhs

`True or something == True`
- if you have `and` and your lhs is `False` -> you do not need to calculate rhs

`False and something == False`

In [ ]:
### INTERESTING CASE WITH IF STATEMENT
a = 123


if True or a / 0:
    print("ALL IS GOOD")

ALL IS GOOD

In [ ]:
### INTERESTING CASE WITH IF STATEMENT
a = 123


if False and a / 0:
    print("ALL IS GOOD")
else:
    print("STILL GOOD")

STILL GOOD

In [ ]:
something = True
other_something = False

if something:
    print("do something")
elif other_something:
    print("do other something")
else:
    print("do it")

do something

In [ ]:
something = True
other_something = True

if something:
    print("do something")
elif other_something:
    print("do other something")
else:
    print("do it")

do something

In [ ]:
something = False
other_something1 = False
other_something2 = True


if something:
    print("do something")
elif other_something1:
    print("do other something1")
elif other_something2:
    print("do other something2")
else:
    print("do it")

do other something2

In [ ]:
# [-255 - eps, 255 + eps] -> these values are reserved by the interpreter
# they are singletons

a = 256
b = 256

print(a is b)
print(id(a) == id(b))

True
True

In [ ]:
a = 2560000
b = 2560000

print(a is b)
print(id(a) == id(b))

False
False

In [ ]:
# TODO

a = "a" * 10
b = "a" * 10

print(a is b)

True

## List

(aka `vector` in `cpp`)

Lists are `ordered` `mutable` sequences. Lists have no type check.

In Python Lists are not linked lists, but dynamic arrays with pre-allocated memory.

In [ ]:
# Initialization
list_var = [1, 1.0, "Hello"]
print(list_var)

[1, 1.0, 'Hello']

In [ ]:
list_var = [1, 2, 3, 4]
empty_list = [] # most common way, list() may be used
empty_list = list()

print(f'list_var: {list_var}')
print(f'Empty list: {empty_list}')

# list from iterable
print(f'list from string: {list("hello world")}')

list_var: [1, 2, 3, 4]
Empty list: []
list from string: ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
# Sort
# This method sorts the list in place, using only < comparisons between items.
list_var = [10, 1, 7, 3, 2]
list_var.sort() # O(n log n)
print(f"Sorted list_var: {list_var}")

# Reversed sort
list_var = [10, 1, 7, 3, 2]
list_var.sort(reverse=True)
print(f"Reversed sorted list_var: {list_var}")

Sorted list_var: [1, 2, 3, 7, 10]
Reversed sorted list_var: [10, 7, 3, 2, 1]

In [ ]:
# sort() method modifies the sequence in place for economy of space when sorting a large sequence.
# If we do not want to modify initial sequence we should use sorted()
list_var = [10, 1, 7, 3, 2]
sorted_list = sorted(list_var)
reversed_sorted_list = sorted(list_var, reverse=True)

print(f'Initial list: {list_var}')
print(f'Sorted list: {sorted_list}')
print(f'Reversed sorted list: {reversed_sorted_list}')

Initial list: [10, 1, 7, 3, 2]
Sorted list: [1, 2, 3, 7, 10]
Reversed sorted list: [10, 7, 3, 2, 1]

In [ ]:
list_var = [10, 1, 7.0, 3, 2]

sorted(list_var)

[1, 2, 3, 7.0, 10]

In [ ]:
list_var = [10, 1, 7.0, 3, 2, "12"]

sorted(list_var)

TypeError: ignored

In [ ]:
list_var = ["1","2","10"]

sorted(list_var)

['1', '10', '2']

In [ ]:
list_var = [10, 1, 7.0, 3, 2, "12"]

sorted(list_var, key=lambda x: int(x))

[1, 2, 3, 7.0, 10, '12']

The `list` data type has some more methods.

Here are all of the methods of list objects:

In [ ]:
# list.append(x)
# Add an item to the end of the list
list_var = []
list_var.append(1) # O(1), but not really
print(f'list_var: {list_var}')

list_var: [1]

In [ ]:
# list.extend(iterable)
# Extend the list by appending all the items from the iterable
list_var = [1]
list_var.extend([2, 3]) # O(m), m - size of concat list, but sometimes it can be n + m
print(f'list_var: {list_var}')

list_var: [1, 2, 3]

In [ ]:
# list.insert(i, x)
# Insert an item at a given position.
# The first argument is the index of the element before which to insert,
# so a.insert(0, x) inserts at the front of the list,
# and a.insert(len(a), x) is equivalent to a.append(x).
list_var = [1, 2, 3]
list_var.insert(0, 42) # O(n)
print(f'list_var: {list_var}')

# if i > len(list_var) item will be added in the end of list.
list_var.insert(10, 42)
print(f'list_var: {list_var}')

list_var: [42, 1, 2, 3]
list_var: [42, 1, 2, 3, 42]

In [ ]:
# list.remove(x)
# Remove the first item from the list whose value is equal to x.
# It raises a ValueError if there is no such item.
list_var = [1, 10, 12, 1]
list_var.remove(1) # O(n)
print(f'list_var: {list_var}')

# Let's remove a few more 1 objects
list_var.remove(1)
print(f'list_var: {list_var}')

try:
    list_var.remove(1)
except ValueError:
    print("List contains no 1")

list_var: [10, 12, 1]
list_var: [10, 12]
List contains no 1

In [ ]:
# list.pop(i)
# Remove the item at the given position in the list, and return it.
# If no index is specified, a.pop() removes and returns the last item in the list.
list_var = [1, 10, 12, 1]
last_item = list_var.pop() # O(1), but not really
print(f'list_var: {list_var}')
print(f'last_item: {last_item}')

# Let's get intermediate element
i_elem = list_var.pop(2) # O(n)
print(f'list_var: {list_var}')
print(f'i_elem: {i_elem}')

# If i > len(list_var) we will get IndexError
list_var = [1, 10, 12, 1]
try:
    list_var.pop(42)
except IndexError as e:
    print(f'Got exception: {e!r}')

list_var: [1, 10, 12]
last_item: 1
list_var: [1, 10]
i_elem: 12
Got exception: IndexError('pop index out of range')

In [ ]:
# list.clear()
# Remove all items from the list.
list_var = [1, 10, 12, 1]
list_var.clear() # O(n)
print(f'list_var: {list_var}')

list_var: []

In [ ]:
# list.index(x[, start[, end]])
# Return zero-based index in the list of the first item whose value is equal to x.
# Raises a ValueError if there is no such item.

# The optional arguments start and end are interpreted as in the slice notation and are used
# to limit the search to a particular subsequence of the list.

# The returned index is computed relative to the beginning of the full sequence rather than the start argument.
list_var = [1, 1, 2, 2, 3, 4]
idx = list_var.index(1)
print(f'Index of 1: {idx}')

# start=1
idx = list_var.index(1, 1)
print(f'Index of 1: {idx}')

try:
    # start=0, end=3
    idx = list_var.index(3, 0, 4)
except ValueError:
    print(f'No such item')

Index of 1: 0
Index of 1: 1
No such item

In [ ]:
# list.count(x)
# Return the number of times x appears in the list.

list_var = [1, 1, 2, 2, 3, 4]
count = list_var.count(1) # O(n)
print(f'Count of 1: {count}')

Count of 1: 2

In [ ]:
# list.reverse()
# Reverse the elements of the list in place.
list_var = [1, 1, 2, 2, 3, 4]
list_var.reverse() # O(n)

print(f'list_var: {list_var}')

list_var: [4, 3, 2, 2, 1, 1]

In [ ]:
list_var_1 = [1,2,3]

list_var_1[0] = 42

print(list_var_1)

[42, 2, 3]

In [ ]:
list_var_1 = [1,2,3]
list_var_2 = list_var_1

list_var_1[0] = 42

print(list_var_1)
print(list_var_2)
print(list_var_1 is list_var_2)

[42, 2, 3]
[42, 2, 3]
True

In [ ]:
# list.copy()
# Return a shallow copy of the list. Equivalent to a[:]
list_var = [1, 1, 2, 2, 3, 4]
list_var_copy = list_var.copy() # O(n)
# list_var_copy = list_var[:] # O(n)



print(f'list_var: {list_var}')
print(f'list_var_copy: {list_var_copy}')

list_var: [1, 1, 2, 2, 3, 4]
list_var_copy: [1, 1, 2, 2, 3, 4]

In [ ]:
list_var[0] = 42

print(list_var)
print(list_var_copy)

[42, 1, 2, 2, 3, 4]
[1, 1, 2, 2, 3, 4]

In [ ]:
# Note: You may ask what is `shallow copy`.
# Let's look at example
list_var = [[], [1], [1, 2, 3]]
list_var_copy = list_var.copy()

list_var[0].append(1)

print(f'list_var: {list_var}')
print(f'list_var_copy: {list_var_copy}')

list_var: [[1], [1], [1, 2, 3]]
list_var_copy: [[1], [1], [1, 2, 3]]

In [ ]:
a = [0]
b = a

a[0] = 1
print(a)
print(b)

[1]
[1]

In [ ]:
a = [0]
b = a.copy()

a[0] = 1
print(a)
print(b)

[1]
[0]

In [ ]:
a = [[0]]
b = a.copy()

a[0][0] = 1
print(a)
print(b)
print(f"{id(a)=}, {id(b)=}")
print(f"{id(a[0])=}, {id(b[0])=}")

[[1]]
[[1]]
id(a)=134238048612288, id(b)=134238046966016
id(a[0])=134238049278528, id(b[0])=134238049278528

You can see that `list_var_copy` is new object collection populated with `references` to the child objects found in the original.

In essence, a `shallow copy` is only one level deep.
The copying process does not recurse and therefore wonâ€™t create copies of the child objects themselves.

To avoid such behaviour you should use `deepcopy`

In [ ]:
from copy import deepcopy

list_var = [[], [1], [1, 2, 3]]
list_var_copy = deepcopy(list_var)

list_var[0].append(1)

print(f'list_var: {list_var}')
print(f'list_var_copy: {list_var_copy}')

list_var: [[1], [1], [1, 2, 3]]
list_var_copy: [[], [1], [1, 2, 3]]

In [ ]:
a = [[0]]
b = deepcopy(a)

a[0][0] = 1
print(a)
print(b)
print(f"{id(a)=}, {id(b)=}")
print(f"{id(a[0])=}, {id(b[0])=}")

[[1]]
[[0]]
id(a)=134238048899136, id(b)=134238048602368
id(a[0])=134238048330240, id(b[0])=134238046975744

In [ ]:
# Compare two lists
print([1, 2, 3] == [1, 2, 3]) # O(n)

True

In [ ]:
# Check containment
print(1 in [1, 2, 3, 4]) # O(n)

True

In [ ]:
# Element access
list_var = [1, 2, 3, 4]
# Get Item
print(f'First element: {list_var[0]}') # O(1)
# Set element
list_var[0] = 10 # O(1)
print(f'list_var: {list_var}')

First element: 1
list_var: [10, 2, 3, 4]

In [ ]:
# Multiply list
list_var = [0]
list_var = list_var * 10 # Or simply list_var *= 10
print(f'list_var: {list_var}')

list_var: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Mutable types problem
list_var = [[1]]

# You don't create 10 separate lists here, you create 10 references to the same list
list_var = list_var * 10
list_var[0].append(42)
print(f'list_var: {list_var}')

list_var: [[1, 42], [1, 42], [1, 42], [1, 42], [1, 42], [1, 42], [1, 42], [1, 42], [1, 42], [1, 42]]

In [ ]:
# Addition
list_var_1 = [1, 2, 3, 4]
list_var_2 = [3, 4, 5, 6]
print(f'list_var_1 + list_var_2 = {list_var_1 + list_var_2}')

list_var_1 + list_var_2 = [1, 2, 3, 4, 3, 4, 5, 6]

## Slice

slice(start, stop, step)

In [ ]:
lst = [0, 1, 2, 3, 4, 5]

In [ ]:
# Slices example
# start=0:end=len(list):step=1
print(f'Slice "0:6" {lst[0:6]}')
print(f'Slice "0:"  {lst[0:]}')
print(f'Slice "2:"  {lst[2:]}')
# negative indices
print(f'Slice "-2:" {lst[-2:]}')
print(f'Slice ":-1" {lst[:-1]}')

Slice "0:6" [0, 1, 2, 3, 4, 5]
Slice "0:"  [0, 1, 2, 3, 4, 5]
Slice "2:"  [2, 3, 4, 5]
Slice "-2:" [4, 5]
Slice ":-1" [0, 1, 2, 3, 4]

In [ ]:
# Extended slices
print(f'Slice "::1"  {lst[::1]}')
print(f'Slice "::2"  {lst[::2]}')
print(f'Slice "::-1" {lst[::-1]}') # step = -1

Slice "::1"  [0, 1, 2, 3, 4, 5]
Slice "::2"  [0, 2, 4]
Slice "::-1" [5, 4, 3, 2, 1, 0]

In [ ]:
print(f"Full Slice: {lst[:]}")

Full Slice: [0, 1, 2, 3, 4, 5]

In [ ]:
# Shallow copy
lst = [[], 1, 2, 3]
lst_copy = lst[:]
lst_copy[1] = 10

print(f'Original list: {lst}')
print(f'List copy: {lst_copy}')
print('append to the first element')

lst[0].append(42)
print(f'Original list: {lst}')
print(f'List copy: {lst_copy}')

Original list: [[], 1, 2, 3]
List copy: [[], 10, 2, 3]
append to the first element
Original list: [[42], 1, 2, 3]
List copy: [[42], 10, 2, 3]

In [ ]:
# Deleting slice
lst = [0, "good", "bad", "ugly", 3, 4, 5]
del lst[1:4]
lst

[0, 3, 4, 5]

In [ ]:
lst.__getitem__(0) # first element -> lst[0]

0

In [ ]:
lst.__getitem__(slice(0, 4)) # slice of elements -> lst[0:4]

[0, 3, 4, 5]

## Tuple

Tuples are `immutable` sequences, typically used to store collections of heterogeneous data (such as the 2-tuples produced by the `enumerate()` built-in).
Tuples are also used for cases where an immutable sequence of homogeneous data is needed (such as allowing storage in a set or dict instance).

Tuples support all operations that do not mutate the data structure (and they
have the same complexity classes)

In [ ]:
tuple_var = 1, 'some_string'
print(f'Type of tuple: {type(tuple_var)}')
print(f'tuple_var is instance of tuple: {isinstance(tuple_var, tuple)}')

Type of tuple: <class 'tuple'>
tuple_var is instance of tuple: True

In [ ]:
# why do you need tuple?

a = (1,2,3,4,5)
b = [1,2,3,4,5]

# 1. it's memory efficient
import sys

print(f"Tuple size: {sys.getsizeof(a)}")
print(f"List size: {sys.getsizeof(b)}")

# 2. it's time efficient
# a[0] is faster then b[0]

Tuple size: 80
List size: 104

In [ ]:
# 3. tuple has hash
print(hash(a))
print(hash(b))

-5659871693760987716

TypeError: ignored

In [ ]:
# Unpacking
tuple_var = 1, 'some_string'
number, string = tuple_var
print(f"{number=}, {string=}, {tuple_var=}")

number=1, string='some_string', tuple_var=(1, 'some_string')

In [ ]:
# Containment
tuple_var = 1, 'some_string', 4, 5
print(f'Check if tuple contains string: {"some_string" in tuple_var}')

Check if tuple contains string: True

## Dictionaries

A mapping object maps hashable values to arbitrary objects. Mappings are `mutable` objects. There is currently only one standard mapping type, the `dictionary`.

- Add to dictionary is efficient ("O(1)")
- Remove from dictionary is efficient ("O(1)")
- Check if element is present in dictionary is efficient ("O(1)")

In [ ]:
# Initialization
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
print(a == b == d == e)

True

In [ ]:
# list(d)
# Return a list of all the keys used in the dictionary d.
dict_var = {'one': 1, 'two': 2, 'three': 3}
print(f'All keys in dictionary: {list(dict_var)}')

All keys in dictionary: ['one', 'two', 'three']

In [ ]:
# len(d)
# Return the number of items in the dictionary d.
dict_var = {'one': 1, 'two': 2, 'three': 3}
print(f'Dictionary length: {len(dict_var)}') # O(1)

Dictionary length: 3

In [ ]:
# d[key]
# Return the item of d with key key. Raises a KeyError if key is not in the map.
dict_var = {'one': 1, 'two': 2, 'three': 3}
one_item = dict_var["one"] # O(1)
print(f'Get item by key "one": {one_item}')

try:
    dict_var["four"]
except KeyError:
    print('No such key')

Get item by key "one": 1
No such key

In [ ]:
# d[key] = value
# Set d[key] to value.
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_var["four"] = 4 # O(1)
print(f'dict_var: {dict_var}')

dict_var: {'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [ ]:
# del d[key]
# Remove d[key] from d. Raises a KeyError if key is not in the map.
dict_var = {'one': 1, 'two': 2, 'three': 3}
del dict_var['one'] # O(1)
print(f'dict_var: {dict_var}')

try:
    del dict_var["four"]
except KeyError:
    print('No such key')

dict_var: {'two': 2, 'three': 3}
No such key

In [ ]:
# key in d
# Return True if d has a key key, else False.
dict_var = {'one': 1, 'two': 2, 'three': 3}
print(f'Key "one" is in dict_value: {"one" in dict_var}')

Key "one" is in dict_value: True

In [ ]:
# get(key[, default])
# Return the value for key if key is in the dictionary, else default.
# If default is not given, it defaults to None, so that this method never raises a KeyError.
dict_var = {'one': 1, 'two': 2, 'three': 3}

one_item = dict_var.get('one') # O(1)
not_exist_item = dict_var.get('four') # O(1)
not_exist_item_default = dict_var.get('four', 4) # O(1)

print(f'Item by key "one": {one_item}')
print(f'Item by not existent key "four": {not_exist_item}')
print(f'Item by not existent key "four" with default: {not_exist_item_default}')

Item by key "one": 1
Item by not existent key "four": None
Item by not existent key "four" with default: 4

In [ ]:
# items()
# Return a new view of the dictionaryâ€™s items ((key, value) tuples).
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_items = dict_var.items()
print(f'dict_var items: {dict_items}')

# if we mutate dictionary dict_items will change accordingly
dict_var["four"] = 4
print(f'dict_var items: {dict_items}')

dict_var items: dict_items([('one', 1), ('two', 2), ('three', 3)])
dict_var items: dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

In [ ]:
# keys()
# Return a new view of the dictionaryâ€™s keys.
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_keys = dict_var.keys()
print(f'dict_var keys: {dict_keys}')

# if we mutate dictionary dict_keys will change accordingly
dict_var["four"] = 4
print(f'dict_var keys: {dict_keys}')

dict_var keys: dict_keys(['one', 'two', 'three'])
dict_var keys: dict_keys(['one', 'two', 'three', 'four'])

In [ ]:
# values()
# Return a new view of the dictionaryâ€™s values.
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_values = dict_var.values()
print(f'dict_var values: {dict_values}')

# if we mutate dictionary dict_values will change accordingly
dict_var["four"] = 4
print(f'dict_var values: {dict_values}')

dict_var values: dict_values([1, 2, 3])
dict_var values: dict_values([1, 2, 3, 4])

In [ ]:
# pop(key[, default])
# If key is in the dictionary, remove it and return its value, else return default.
# If default is not given and key is not in the dictionary, a KeyError is raised.
dict_var = {'one': 1, 'two': 2, 'three': 3}
# del dict_var["one"]
one_item = dict_var.pop('one') # O(1)
print(f'Popped item by key "one": {one_item}')

non_existent_item = one_item = dict_var.pop('four', None)
print(f'Popped item with default by not existent key "four": {non_existent_item}')

Popped item by key "one": 1
Popped item with default by not existent key "four": None

In [ ]:
# update([other])
# Update the dictionary with the key/value pairs from other, overwriting existing keys. Return None.
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_var_update = {'three': None, 'four': 4}
dict_var.update(dict_var_update) # O(k) - k is len(dict_var_update)
print(f'Updated dict_var: {dict_var}')

Updated dict_var: {'one': 1, 'two': 2, 'three': None, 'four': 4}

In [ ]:
# Dictionaries compare equal if and only if they have the same (key, value) pairs (regardless of ordering).
# Order comparisons (â€˜<â€™, â€˜<=â€™, â€˜>=â€™, â€˜>â€™) raise TypeError.
dict_var = {'one': 1, 'two': 2, 'three': 3}
dict_var_update = {'three': None, 'four': 4}

dict_var == dict_var_update

False

In [ ]:
# HASHES!!!!

## Set

A set object is an `unordered` `mutable` collection of distinct `hashable` objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

In [ ]:
# Initialization
set_var = {1, 2, 3, 4, 4, 4}
set_var = set([1, 2, 3, 4, 4, 4])

print(f'set_var: {set_var}')

set_var: {1, 2, 3, 4}

In [ ]:
# len(s)
# Return the number of elements in set s (cardinality of s).
set_var = {1, 2, 3, 4, 4, 4}
print(f'set length: {len(set_var)}')

set length: 4

In [ ]:
# x in s
# Test x for membership in s.
set_var = {1, 2, 3, 4, 4, 4}
print(f'Item is in set: {1 in set_var}')

Item is in set: True

In [ ]:
# isdisjoint(other)
# Return True if the set has no elements in common with other.
# Sets are disjoint if and only if their intersection is the empty set.
set_var = {1, 2, 3, 4, 4, 4}
print(f'Is set disjoint: {set_var.isdisjoint({5, 6, 7})}')

Is set disjoint: True

In [ ]:
# issubset(other)
# set <= other
# Test whether every element in the set is in other.
set_1 = {1, 2, 3}
set_2 = {1, 2, 3, 4, 5}
print(f'Is subset: {set_1 <= set_2}')

Is subset: True

In [ ]:
# set < other
# Test whether the set is a proper subset of other, that is, set <= other and set != other.
set_1 = {1, 2, 3}
set_2 = {1, 2, 3}
print(f'Is proper subset: {set_1 < set_2}')

Is proper subset: False

In [ ]:
# issuperset(other)
# set >= other
# Test whether every element in other is in the set.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
print(f'Is superset: {set_1 >= set_2}')

Is superset: True

In [ ]:
# set > other
# Test whether the set is a proper superset of other, that is, set >= other and set != other.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
print(f'Is proper superset: {set_1 >= set_2}')

Is proper superset: True

In [ ]:
# union(*others)
# set | other | ...
# Return a new set with elements from the set and all others.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_3 = {4, 5, 6, 7}

union_set = set_1 | set_2 | set_3
print(f'Union: {union_set}')

Union: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
# intersection(*others)
# set & other & ...
# Return a new set with elements common to the set and all others.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_3 = {1, 2, 4, 5, 6, 7}

intersection_set = set_1 & set_2 & set_3
print(f'Intersection: {intersection_set}')

Intersection: {1, 2}

In [ ]:
# difference(*others)
# set - other - ...
# Return a new set with elements in the set that are not in the others.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}

difference_set = set_1 - set_2
print(f'Difference: {intersection_set}')

Difference: {1, 2}

In [ ]:
# symmetric_difference(other)
# set ^ other
# Return a new set with elements in either the set or other but not both.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}

symmetric_difference_set = set_1 ^ set_2
print(f'Symetric difference: {symmetric_difference_set}')

Symetric difference: {4, 5}

## Strings

Textual data in Python is handled with `str` objects, or strings. Strings are `immutable` sequences of Unicode code points. String literals are written in a variety of ways:

* `Single quotes: 'allows embedded "double" quotes'`
* `Double quotes: "allows embedded 'single' quotes".`
* `Triple quoted: '''Three single quotes''', """Three double quotes"""`
* `Triple quoted strings may span multiple lines - all associated whitespace will be included in the string literal.`

String literals that are part of a single expression and have only whitespace between them will be implicitly converted to a single string literal. That is, `("spam " "eggs") == "spam eggs"`.

Full huge list of string methods you cat find at [link](https://docs.python.org/3.7/library/stdtypes.html?highlight=tuple#text-sequence-type-str).

In [ ]:
# str()
# Return a string version of object. If object is not provided, returns the empty string.
empty_string = str()
# Or
empty_string_1 = ''
empty_string_2 = ""
empty_string_3 = ''''''
empty_string_4 = """"""

In [ ]:
string = "one\ntwo\nthree\n"
print(f'String split lines: {string.splitlines()}')
print(f'String type: {type(string)}')

string = "one, two, three"
print(f'Split string: {string.split(" ")}')
print(f'Split string with delimiter {string.split(",")}')

String split lines: ['one', 'two', 'three']
String type: <class 'str'>
Split string: ['one,', 'two,', 'three']
Split string with delimiter ['one', ' two', ' three']

In [ ]:
print(f'Split string: {string.split(" ")}')

Split string: ['one,', 'two,', 'three']

In [ ]:
string = """one
two
three
"""
print(f'String split lines: {string.splitlines()}')

String split lines: ['one', 'two', 'three']

In [ ]:
# join()
parts = ['super', 'cali', 'fragilistic', 'expiali', 'docious']

print(f'Join strings in iterable: {str().join(parts)}')
print(f'Join strings in iterable: {"".join(parts)}')

print(f'Join strings in iterable with space delimiter: {" ".join(parts)}')
print(f'Join strings in iterable with "+" delimiter: {"+".join(parts)}')

Join strings in iterable: supercalifragilisticexpialidocious
Join strings in iterable: supercalifragilisticexpialidocious
Join strings in iterable with space delimiter: super cali fragilistic expiali docious
Join strings in iterable with "+" delimiter: super+cali+fragilistic+expiali+docious

In [ ]:
list_of_integers = [1,2,3,4]
print(" ".join(map(str, list_of_integers)))

1 2 3 4

In [ ]:
string = "Hello"

print(f'Is string in lower case {string.islower()}')
print(f'Is string in upper case {string.isupper()}')

lower_string = string.lower()
print(f'String in lower case {lower_string}')

upper_string = string.upper()
print(f'String in upper case {upper_string}')

capitalized_string = "hello. my name is Alex".capitalize()
print(capitalized_string)

chain_condition = string.lower().islower()
print(chain_condition)


string = "Hello He HE he"
replaced_string = string.replace("He", "", -1)
print(f'Replaced string: {replaced_string}')

Is string in lower case False
Is string in upper case False
String in lower case hello
String in upper case HELLO
Hello. my name is alex
True
Replaced string: llo  HE he

In [ ]:
string = "Hello world"
print(string[0:5])

Hello

In [ ]:
string[0] = "!"

TypeError: ignored

### Custom data types: Stack and Queue

![](https://gohighbrow.com/wp-content/uploads/2018/07/Computer-science-fundamentals_6.1.png)

In [ ]:
# STACK
stack = []

# insert
stack.append(0)
print(stack)
stack.append(1)
print(stack)
stack.append(2)
print(stack)

# delete
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[0]
[0, 1]
[0, 1, 2]
[0, 1]
[0]
[]

#### Task: Correct Bracket sequence

Def. Any sequence of `(` and `)` is a bracket sequence.


Def. a bracket sequence is considered to be *correct* if any prefix has a non-negative balance and the whole sequence has a 0 balance.

How to calculate the balance: `( -> +1` and `) -> -1` then you calculate the sum

In [ ]:
# TASK
input1 = "()()()"
input2 = "()(())(())"
input3 = "()(())(()))"

input = input3
stack = []

In [ ]:
print(input)
is_incorrect = False

for character in input:
    BOOLEAN_STATEMENT = character == "("
    if BOOLEAN_STATEMENT:
        # do if it is True
        stack.append(character)
    else:
        # do if it is False
        if len(stack) == 0:
            is_incorrect = True
        else:
            stack.pop()

if len(stack) != 0:
    is_incorrect = True

if is_incorrect:
    print("Sequence is incorrect")
else:
    print("Sequence is correct")

()(())(()))
Sequence is incorrect

### Custom data types: Stack and Queue

![](https://gohighbrow.com/wp-content/uploads/2018/07/Computer-science-fundamentals_6.1.png)

In [ ]:
# QUEUE
# [] -> [0] -> [0, 1] -> [0, 1, 2] -> [1, 2] -> [2] -> []

queue = []

# insert
queue.append(0)  # O(1)
print(queue)
queue.append(1)  # O(1)
print(queue)
queue.append(2)  # O(1)
print(queue)

# delete
queue.pop(0)  # O(N)
print(queue)
queue.pop(0)  # O(N)
print(queue)
queue.pop(0)  # O(N)
print(queue)

[0]
[0, 1]
[0, 1, 2]
[1, 2]
[2]
[]

In [ ]:
from collections import deque

In [ ]:
queue = deque()

# insert
queue.append(0)  # O(1)
print(queue)
queue.append(1)  # O(1)
print(queue)
queue.append(2)  # O(1)
print(queue)

# delete
queue.popleft()  # O(1)
print(queue)
queue.popleft()  # O(1)
print(queue)
queue.popleft()  # O(1)
print(queue)

deque([0])
deque([0, 1])
deque([0, 1, 2])
deque([1, 2])
deque([2])
deque([])