## Conditionals, loops

# Contents

1. Conditional operator
2. Ternary conditional operator
3. While-loop
4. For-loop
5. List comprehensions

# 1. Conditional operators (if, elif, else)

In [1]:
if 1 > 0:
    print('yes')

yes

In [3]:
if 1 == 0:
    print('yes')

print('this print happens after if statement')

this print happens after if statement

In [4]:
question = 'Can I drive a car?'

# input() function asks for user input

age = input("Your age: ")  # argument - message text

age = int(age) # int() function casts age to integer


if age >= 18: # if you're 18 years old or older

    answer = 'Yes, you can drive'

else:

    answer = "No, you can't drive"

print(answer)

Your age: 21
Yes, you can drive

Note 1.  A colon after the condition (at the end of the IF line) is required!

Note 2.  Both after IF and ELSE!

Note 3:  In python, groups of commands are determined by INDENTATION! Indents must be carefully monitored! Spaces and tabs can serve as indents, and in any quantity, the main thing is that commands from the same group are on the same level.

Note 4: Python has no operator brackets, unlike languages like C ++ or Java. In these languages, the set of commands that must be executed under a certain condition is determined by the location of the brackets, for example, something like:
```
IF condition1, then {
command1
command2}
ELSE {
command3}
```
Here commands 1 and 2 are being executed if condition1 is true, otherwise command3 is being executed.


In Python it looks like this:
```
if condition1:
    command1
    command2
elif condition2:
    commands
elif condition3:
    commands
else:
    command3
```

You can also compose several conditions:

In [5]:
question = 'Can I drive a car?'

age = int(input("Your age: "))  # It is convenient to use int(input()) if you are asking for a number

# country = 'Russia'
country = 'USA'

if age >= 16 and country == 'USA':  # If you're 16 or older and you live in USA

    answer = 'Yes, you can drive'

#elif - short from else if
elif age >= 18 and country == 'Russia':  # If the condition above is false, but you are 18 or older and you live in Russia

    answer = 'Yes, you can drive'

else:

    answer = "No, you can't drive"

print(answer)

Your age: 12
No, you can't drive

In [6]:
x = 0

if x > 100:
    print(1)
elif x > 10:
    print(2)
elif x > 0:
    print('positive')
elif x == 0:
    print(0)
else:
    print('negative')

0

## Structural Pattern Matching:

It was introduced in python3.10
[pep](https://peps.python.org/pep-0636/)

let's look at syntaxis:

In [7]:
x = 1

match x:
    case 0:
        print(f"x is 0")
    case 1:
        print(f"x is 1")
    case _:
        print(f"x is neither 0 nor 1")

x is 1

In [13]:
command = "go north"

match command.lower().split():
    case "go", "north" | "east" | "west" | "south" as direction:
        print(f"I go {direction}")
    case "go", *somewhere:
        print(f"I don't know this direction: {somewhere}")
    case _:
        print("I don't go")

I go north

# 2. Ternary conditional operator

In [15]:
# a if condition else b

print('true' if True else 'false')
print('true' if False else 'false')

true
false

In [ ]:
age = 15
'kid' if age < 13 else 'teenager' if age < 18 else 'adult'

'teenager'

In [16]:
# Equivalent constructs:

nice = False

#1
personality = "nice" if nice else "mean"
print("The cat is ", personality)

#2
personality = ("mean", "nice")[nice]
print("The cat is ", personality)

The cat is  mean
The cat is  mean

# 3. While loop

In [17]:
greetings = 1

while greetings <= 3:

    print(greetings)
    print('Hello! ' * greetings)
    # += is increment operator
    greetings += 1 # is equivalent to "greetings = greetings + 1"

1
Hello!
2
Hello! Hello!
3
Hello! Hello! Hello!

In [18]:
greetings

4

break

In [19]:
i = 0
k = 5

S = 0 # Sum of the first 100 integers

while True:
    i += 1
    S += i
    if not i < 100:
        break


print(S)

5050

In [20]:
i = 0
k = 5

S = 0 # Sum of the first 10 integers

while True:

    i += 1
    print(i)
    S += i
    print(S)
    if not i < 10:
        break


print(S)

1
1
2
3
3
6
4
10
5
15
6
21
7
28
8
36
9
45
10
55
55

continue

In [21]:
i = 0
k = 2

S = 0 # Sum of the first 100 integers that are not multiples of k

while i < 10:

    i += 1
    print(i)
    if not i % k:
        continue

    S += i
    print('S = ', S)


print(S)

1
S =  1
2
3
S =  4
4
5
S =  9
6
7
S =  16
8
9
S =  25
10
25

In [ ]:
# while..else construct

numbers = [1, 3, 7, 8, 10]
i = 0

while i < len(numbers):
    print(numbers[i])
    if numbers[i] == 5:

        print('Found five!')
        break

    i += 1

else: # if break has been never called

    print('Nope :(')

print('after looping')

1
3
7
8
10
Nope :(
after looping

In Python, conditions and loops do not create their own scope!

# 4. For loop

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
for i in range(10):
    print(i)
    print(i ** 2)

0
0
1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81

In [24]:
NameList = ['Alice', 'Bob', 'Charley', 0, 1, 42]

for name in NameList: # Walking through the list of names

    print('Hello, ' + str(name))

print()

for i in range(len(NameList)): # Walking through indices from 0 to L-1

    print('Hello, ' + str(NameList[i]))

print()

for i, name in enumerate(NameList): # Walking through index-element pairs

    print('Hello, ' + str(NameList[i]))

print()

for name in enumerate(NameList): # Walking through the list of tuples idx-name

    print(name)

Hello, Alice
Hello, Bob
Hello, Charley
Hello, 0
Hello, 1
Hello, 42

Hello, Alice
Hello, Bob
Hello, Charley
Hello, 0
Hello, 1
Hello, 42

Hello, Alice
Hello, Bob
Hello, Charley
Hello, 0
Hello, 1
Hello, 42

(0, 'Alice')
(1, 'Bob')
(2, 'Charley')
(3, 0)
(4, 1)
(5, 42)

In [25]:
#break
#Let's say hello to just two people

NameList = ['Alice', 'Bob', 'Charley']

for i in range(len(NameList)):

    print('Hello, ' + NameList[i])

    if i > 0:

        break

Hello, Alice
Hello, Bob

In [26]:
#continue
#Let's not say hello to Bob

NameList = ['Alice', 'Bob', 'Charley']

for name in NameList:

    if name == 'Bob':

        continue

    print('Hello, ' + name)

Hello, Alice
Hello, Charley

In [28]:
# for..else construct

numbers = [1, 3, 7, 5, 8, 10]

for n in numbers:
    print(n)
    if n == 5:

        print('We found five!')
        break

else: # only if break never happened

    print('We haven\'t found five :(')

1
3
7
5
We found five!

In [29]:
#pass == do nothing
for n in (1, 2, 3):
    pass

In [30]:
for n in (1, 2, 3):
    ...

In [31]:
#That's why we need pass:
for n in (1, 2, 3):

SyntaxError: ignored

## list comprehensions

### Python has a very useful thing called "list comprehensions". It looks like this:

In [32]:
lst = []

for i in range(10):
    lst.append(i ** 2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
lst = [x ** 2 for x in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
#In general: [expression for all x from list/iterator such that ...]

var_lst = [x**2 for x in range(10) if x%2 != 0] # List of squares of odd numbers less than 10
var_lst

[1, 9, 25, 49, 81]

In [35]:
# List comprehension can work with nested loops

sorted([(y, x) for x in range(2, 10) for y in range(x+1, 10) if y%x == 0])

[(4, 2), (6, 2), (6, 3), (8, 2), (8, 4), (9, 3)]

In [36]:
# For known reasons (which ones?) instead of:
[[0]*3]*3

# you better use:
[[0]*3 for i in range(3)]

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [37]:
[[j**2 for j in range(5)] for i in range(3)]

[[0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16]]

In [38]:
print(*[[j**2 for j in range(5)] for i in range(3)], sep='\n')

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

## generator expressions

In [40]:
# Sometimes it's better to create a generator instead of a list
# in order to not store the whole sequence in memory
# but instead to iterate elements one by one when you need them


sum([x*x for x in range(10)]) # list comprehension
sum(x*x for x in range(10))   # generator expression

# Find the difference!

# type([x*x for x in range(10)])
# type(x*x for x in range(10))

285